@import "tailwindcss";

*{
    font-family: "Poppins", sans-serif;
}

.bangla-shiliguri{
    font-family: "Hind Siliguri", sans-serif;
}

.tiro-bangla{
    font-family: "Tiro Bangla", serif;
}

.active{
    background-color: #422AD5;
    color: white;
}